.textImage{
    padding-top: calc(43px + 3vw);
    padding-bottom: calc(43px + 3vw);

    h4{
        margin-top: 0;
        margin-bottom: 24px;
        text-transform: uppercase;
        font-weight: 900;
        font-size: calc(22.7px + .9vw);
        line-height: calc(21.6px + .7vw);
    }
}
