.table{
    background-color: #defdfd;
    cursor: pointer;
    &:hover{
        background-color: #d2fafa;
    }
    h3{
        display: block;
        font-size: larger;
        font-weight: 700;
        margin: 10px 0px 0px;
    }
    span{
        display: block;
        font-size: small;
        font-weight: 500;
    }
}