  .h2{
    font-weight: 900;
    font-size: calc(22.7px + .9vw);
    line-height: calc(21.6px + .7vw);
    margin-top: 0;
    margin-bottom: 24px;
    text-transform: uppercase;
  }
  .home_button {
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    text-align: center;
    background-size: cover;
    border-width: 2px;
    border-style: solid;
    padding: 12px 47px;
    border-radius: 6px;
    transition: background 200ms linear, filter 200ms linear;
    min-width: 190px;
    border: 2px solid #e2012b;
    height: 54px;
    line-height: 30px;
    background-color: #e2012b;
    color: white;
    font-size: 14px;
    font-weight: 800;
    text-transform: uppercase;
  }
  .home_button:hover{
    background-color:white;
    color:black;
    border-color:#e2012b
  }
  .container_fluid{
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }
  .howitworks{
    padding-top: calc(43px + 3vw);
    padding-bottom: 160px;
    >div >div >div >h2{
      font-weight: 900;
      font-size: calc(22.7px + .9vw);
      line-height: calc(21.6px + .7vw);
    }
  }
  
// Responsive
@media screen and (max-width: 728px) {
}
