.hiv_module{
    background-size: cover;
    background-position: center;
    position: relative;
    padding-top: calc(43px + 3vw);
    padding-bottom: 160px;
    h2{
        margin-bottom: 70px;
        text-transform: uppercase;
        font-weight: 900;
        font-size: calc(22.7px + .9vw);
        line-height: calc(21.6px + .7vw);
    }
    span{
        font-size: 200px;
        color: #f7f7f7;
        display: block;
        font-weight: 900;
        position: absolute;
        left: 0;
        right: 0;
        margin: 0 auto;
        z-index: -1;
        top: -70px;
        transform: translateX(4px);
    }
    small{
        font-size: 12px;
        line-height: 15px;
        color: #3a4050;
        font-weight: 600;
        text-transform: uppercase;
        letter-spacing: 2px;
    }
    img{
        max-height: 53px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 13px;
        margin-bottom: 40px;
    }
    h4{
        margin-top: 0;
        text-transform: uppercase;
        font-weight: bold;
        margin-bottom: 13px;
    }
    p{
        margin-top: 0;
        line-height: 30px;
        text-align: center;
        padding-inline: 16px;
    }
    >div>div>div {
        @media screen and (min-width: 768px){
            &:nth-of-type(2)::after{
                content: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAANAAAAAICAYAAACIyXE2AAABFklEQVRYhe2YMWoCQRSGv1mI0YRIIB4j6A3EEwTbnMBDWJgD5AQ5gZDGI4Q06a3tLMVKRE3UlYezsMgyBh7sbPG+cmbf7Dew/z54jjMJ8ADUAVnbAStgL7tpmhID5zI98zO/8pknz9k7H4ER0PeO38AQmDkv3AJuLgyPwAI4RP4AzM/8ovj5AN0BP0D7YnsJdCT59wXy+L9CsxzVIOanw/x0DArCIzwB7yJZCxx/W4ELmJ8O89PRDVT3JECh/hind/7fwfyuY346fgPVOwnQNvDApgIXMD8d5qdjEqj+TLxkkeifn4TExvx0mJ+OsQSl4IQp8OZyC43cGFHa1jproRUYw5qf+ZVObowtjeYVePGOX8AHsD4B4lyUxjVyhS4AAAAASUVORK5CYII=);
                position: absolute;
                top: 20%;
                right: -49%;
            }
            &:nth-of-type(3)::after{
                content: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAANAAAAAICAYAAACIyXE2AAABFklEQVRYhe2YMWoCQRSGv1mI0YRIIB4j6A3EEwTbnMBDWJgD5AQ5gZDGI4Q06a3tLMVKRE3UlYezsMgyBh7sbPG+cmbf7Dew/z54jjMJ8ADUAVnbAStgL7tpmhID5zI98zO/8pknz9k7H4ER0PeO38AQmDkv3AJuLgyPwAI4RP4AzM/8ovj5AN0BP0D7YnsJdCT59wXy+L9CsxzVIOanw/x0DArCIzwB7yJZCxx/W4ELmJ8O89PRDVT3JECh/hind/7fwfyuY346fgPVOwnQNvDApgIXMD8d5qdjEqj+TLxkkeifn4TExvx0mJ+OsQSl4IQp8OZyC43cGFHa1jproRUYw5qf+ZVObowtjeYVePGOX8AHsD4B4lyUxjVyhS4AAAAASUVORK5CYII=);
                position: absolute;
                top: 20%;
                right: -49%;
            }
        }
        
    }
    button{
        display: inline-block;
        text-decoration: none;
        cursor: pointer;
        text-align: center;
        background-size: cover;
        border-width: 2px;
        border-style: solid;
        padding: 12px 47px;
        border-radius: 6px;
        transition: background 200ms linear, filter 200ms linear;
        min-width: 190px;
        border: 2px solid #e2012b;
        height: 54px;
        line-height: 30px;
        background-color: #e2012b;
        color: white;
        font-size: 14px;
        font-weight: 800;
        text-transform: uppercase;
        &:hover{
            background-color:white;
            color:black;
            border-color:#e2012b
        }
    }
}

.text{
    margin-bottom: 30px;
    h2{
        text-transform: none;
        margin-top: 30px;
        margin-bottom: 24px;
        font-weight: 900;
        font-size: 26px;
        line-height: 30px;
    }
    h3{
        text-transform: none;
        margin-top: 30px;
        margin-bottom: 24px;
        font-weight: 700;
        font-size: 19px;
        line-height: 23px;
    }
}