.join {    
    display: flex;
    margin-top: 84px;
    .avatar {
        position: relative;
        text-align: center;
        div {
            margin: auto;
            border-radius: 100%;
            width: 150px;
            height: 150px;
            border: 2px solid #ddd;
            overflow: hidden;
            img {
                object-fit: cover;
                width: 100%;
                height: 100%;
            }
        }
        button {
            position: absolute;
            width: 1em;
            height: 1em;
            padding: 1em;
            background: white url(/icons/edit.png) no-repeat center;
            background-size: 1em;
            border-radius: 100%;
            bottom: 4em;
            left: 50%;
            box-shadow: 0px 0px 5px gray;
            transform: translateX(2em);
            &:hover {
            opacity: 0.8;
            }
        }
    }
    .account {
        background: #fefeee;
        border: 10px solid #eee;
        border-top: none;
        border-bottom: none;
        padding: 20px 40px;
    }
    h2{
        display: block;
        font-size: x-large;
        font-weight: 700;
        padding: 10px 0px;
    }
    h3{
        display: block;
        font-size: larger;
        font-weight: 700;
        margin: 10px 0px;
    }
    /*
    button{
        display: inline-block;
        text-decoration: none;
        cursor: pointer;
        text-align: center;
        background-size: cover;
        border-width: 2px;
        border-style: solid;
        padding: 12px;
        border-radius: 6px;
        transition: background 200ms linear, filter 200ms linear;
        min-width: 100px;
        border: 2px solid #e2012b;
        height: 45px;
        line-height: 0px;
        background-color: #e2012b;
        color: white;
        font-size: medium;
        font-weight: 800;
        text-transform: uppercase;
        
        &:hover{
        background-color:white;
        color:black;
        border-color:#e2012b
        }
    }*/
    &.loading {
        position: relative;
        &::after {
            content:'';
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background: rgba(255,255,255,0.5) url(/loading.gif) no-repeat center;
            background-size: 40vw;
            position: absolute;
        }
    }
}

