.clock1 {
    >.line{
        max-width: 70px;
        display: block;
        height: 2px;
        margin: 30px 0 30px 0;
        background-color: #e2012b;
        margin: 17px 0 26px 0;
        max-width: 100px;
        margin-left: auto;
        margin-right: auto;
    }
    > div{
        display: inline-block;
        text-align: center;
        margin: 0 5px;
        background-color: white;
        color: black;
        padding: 25px 0px;
        width: 91px;
        border-radius: 5px;
        @media screen and (max-width: 728px) {
            padding: 15px 0px;
            width: 72px;
        }
        > span{
            font-size: calc(18px + .6vw);
            line-height: calc(18px + .5vw);
            font-weight: 600;
        }
        >div{
            font-size: 12px;
            padding-top: 6px;
            font-weight: 800;
            text-transform: uppercase;
        }
    }

    > p {
        font-size: 12px;
        line-height: 15px;
        color: #3a4050;
        font-weight: 600;
        text-transform: uppercase;
        letter-spacing: 2px;
        font-size: 16px;
        color: white;
        margin-bottom: 32px;
    }
    
}

.clock2 {
    >div{
        text-align: center;
        > div{
            text-align: center;
            margin: 0 5px;
            border-radius: 5px;
            display: inline-block;
            background-color: black;
            color: #f8f8f8;
            padding: 10px 0px;
            width: 70px;
            > span{
                font-size: 16px;
                line-height: 16px;
                font-weight: 600;
            }
            >div{
                font-size: 10px;
                padding-top: 4px;
                font-weight: 800;
                text-transform: uppercase;
            }
        }
    }
    
    
    > h4 {
        font-weight: bold;
        text-transform: uppercase;
        font-style: italic;
        text-align: center;
        margin-bottom: 10px;
    }
     >span{
        text-transform: uppercase;
        font-size: 14px;
        font-weight: bold;
        text-align: center;
        color: grey;
        display: block;
        margin: 10px 0;
     }
    
}


