.competition{
    display: block;
    overflow: hidden;
    position: relative;
    &.loading {
        &::after {
            content:'';
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background: rgba(255,255,255,0.5) url(/loading.gif) no-repeat center;
            background-size: 40vw;
            position: absolute;
        }
    }
    .status {
        background: red;
        color: white;
        padding: 0 10px;
        width: auto;
        display: block;
        float: right;
        border-radius: 0.8em 0;  
        &.status0 {
            background-color: blue;
        } 
        &.status2 {
            background-color: orange;
        }              
    }
    .soldout {
        position: relative;
        overflow: hidden;
        &::after {
            content: 'Sold out!';
            color: white;
            position: absolute;
            bottom: 0em;
            left: 2em;
            font-size: 1em;
            display: block;
            font-weight: bold;
            background: red;
            padding: 0.2em 5em;
            transform: translate(-50%,-50%) rotate(45deg);
        }
    }
    h2 {
        margin-top: 7px;
        font-size: 20px;
        text-transform: uppercase;
        font-weight: 900;
        cursor: pointer;
        &:after {
            content: '';
            display: block;
            width: 100px;
            height: 2px;
            background-color: #e2012b;
        }
        &:hover {
            color: red;
        }
    }
    div.price {
        // min-height: 47px;
        p {
            font-weight: 700;
            text-transform: uppercase;
            font-size: 12px;
            line-height: 18px;
            margin-bottom: 5px;
        }
        h5 {
            font-size: 14px;
            margin-bottom: 0;
            margin-top: 0;
            text-transform: uppercase;
        }
    }
    >a{
        position: relative;
        display: block;
        background-color: transparent;
        cursor: pointer;
        text-decoration: underline;
        >img{
            max-width: 100%;
        }
    }
    .publish {
        position:absolute;
        bottom: 0;
        width: 100%;
        background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0.8) 70%, rgba(255,255,255,0) 100%);
        padding-top: 5em;
        label {
            font-weight: bold;
        }
    }
    .winner {
        label {
            font-weight: 700;
            text-transform: uppercase;
            font-size: 12px;
            line-height: 18px;
            margin-bottom: 5px;
        }
        span {
            background: green;
            border-radius: 5px;
            padding: 1em;
            color: white;
        }
    }
}