// Footer
.footer {
  width: 100%;
  height: auto;
  clear: both;
  float: left;
  color: #fff;
  
  > div {
    width: 100%;
    height: auto;
    clear: both;
    float: left;
    background: linear-gradient(-25deg,#000,#790049 60%);
    padding: 50px 0;

    >div {
      max-width: 1200px;
      width: 100%;
      margin-left: auto;
      margin-right: auto;
      height: auto;
      padding: 0 40px;
      position: relative;
      clear: both;
      text-align: center;

      >div{
        color: white;
        text-align: center;
      }
    }
  }
  
}

.footerImage{
  -webkit-filter: invert(0) sepia(0) saturate(0) hue-rotate(0deg) brightness(200%) contrast(200%);
    filter: invert(0) sepia(0) saturate(0) hue-rotate(0deg) brightness(200%) contrast(200%);
}

// Responsive
@media screen and (max-width: 728px) {
  .footer {
    // Align links center on mobile
    text-align: center;
  }
}
